<div class="container">
    <div class="col-md-6">
    <div class="heading">Register</div>
    <hr>
  <form [formGroup]="loginForm" (ngSubmit)="rlogin()">
      <div class="form-group">
        <label for="exampleInputEmail1">User Id</label>
        <input type="email" 
        class="form-control" 
        id="exampleInputEmail1" 
        formControlName="remail">
        <span *ngIf="remail.invalid && remail.touched">*Enter valid userId (sample:abcd_41)</span>
        
      </div>
      
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="rpass">
        <span *ngIf="rpass.invalid && rpass.touched">*Invalid password (password should be 2 uppercase, 2 lowercase, 1 special character)</span>
      </div>
      
        
        <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="rcondition">
        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
